<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hivapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HIVApp">
        <activity android:name=".MessageActivity"></activity>
        <activity android:name=".chatLogin" />
        <activity android:name=".chatReg" />
        <activity android:name=".Dashboard" />
        <activity android:name=".mainActivity_chat"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".Chat" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>